name: Release Drafter

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      # Use local action (dogfooding)
      - uses: aaronsteers/semantic-pr-release-drafter@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
