name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  # Disable Husky git hooks in CI - hooks are for local development only
  HUSKY: '0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn test
      - run: yarn lint --fix
      - run: yarn prettier
      - run: yarn build
      - name: correct vercel/ncc crlf output
        run: sed -i 's/\x0D$//' ./dist/index.js
      - name: check for unstaged files
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: .github/no-unstaged-files.sh
