name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

env:
  # Disable Husky git hooks (for local dev only)
  # https://typicode.github.io/husky/how-to.html#ci-server-and-docker
  HUSKY: '0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - run: corepack enable
      - run: yarn install --immutable
      - run: yarn test
      - run: yarn lint --fix
      - run: yarn prettier
      - run: yarn build
      - name: correct vercel/ncc crlf output
        run: sed -i 's/\x0D$//' ./dist/index.js
      - name: check for unstaged files
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: .github/no-unstaged-files.sh
